[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botbuilder = "*"
schedule = "*"
gspread = "*"
"oauth2client" = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.6"
